@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin button ($text, $background) {
  background-color: $background;
  border-radius: 30px;
  color: $text;
  font-size: $font-base-size;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  &:hover, &:focus, &:active {
    background-color: darken($background, 5%);
    color: $text;
  }
  &.btn-empty {
    background-color: transparent;
    border: 3px solid $background;
    color: $text-color;
    &:hover, &:focus, &:active {
      background-color: $background;
      color: $text;
    }
  }
}

@mixin only-to($media) {
  @if $media == sm {
    @media only screen and (max-width: $screen-sm-max) {  @content;  }
  }
}

@mixin respond-to($media) {
  @if $media == sm {
    @media only screen and (min-width: $screen-sm-min) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-md-min) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg-min) { @content; }
  }
}