$font-base-family: 'Raleway', sans-serif;
$font-base-size: 16px;
$font-standart-size: 16px;

$primary-green: #1b9d48;
$secondary-green: #1b9044;
$third-green: #127735;
$fourth-green: #15853c;

$yellow: #ffcc00;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
