$font-base-family: 'Raleway', sans-serif;
$font-standart-size: 14px;
$font-base-size: $font-standart-size + 2;
$font-xs-size: $font-standart-size - 4;

$font-roboto: 'Roboto', sans-serif;
$font-awesome: FontAwesome;

$text-color: #3c3e40;
$secondary-color: #293f54;

$primary-green: #1b9d48;
$secondary-green: #1b9044;
$third-green: #127735;
$fourth-green: #15853c;

$yellow: #ffcc00;

$grey: #cacdd1;
$light-grey: #f2f1f1;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
