// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url('https://fonts.googleapis.com/css?family=Myriad Pro:400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Select bootstrap
@import "node_modules/bootstrap-select/sass/bootstrap-select";

@import "mixins";

// Global styles & classes
@import "global";

// Header element
.header {
    background-color: $primary-green;
    .logo {
        display: block;
        padding: 5px 0;
        text-align: center;
        @include respond-to(md) {
            padding: 22px 0;
        }
        img {
            width: 220px;
        }
    }
    .search {
        padding: 26px 0;
        @include respond-to(sm) {
            padding: 14px 0;
        }
        @include respond-to(md) {
            padding: 26px 0px;
        }
        .input-group {
            width: 100%;
        }
        .form-control {
            background-color: $secondary-green;
            border: none;
            border-radius: 20px;
            color: #ffffff;
            font-size: $font-standart-size - 1;
            font-weight: 300;
            height: 36px;
            padding-left: 20px;
            padding-right: 65px;
            vertical-align: middle;
            width: 100%;
            @include placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .input-group-btn {
            position: absolute;
            right: 55px;
            top: 4px;
            z-index: 10;
            .btn {
                background-color: $primary-green;
                border-radius: 20px;
                color: #ffffff;
                font-size: 16px;
                padding: 2px 18px 1px 18px;
            }
        }
    }
    .create-review {
        padding: 6px 0;
        text-align: center;
        @include respond-to(md) {
            padding: 20px 0;
        }
    }
    .nav {
        .nav-link {
            @extend .a-decoration-none;
            color: #ffffff;
            display: block;
            padding: 30px 12px;
            position: relative;
            .username {
                display: inline-block;
                width: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: top;
                white-space: nowrap;
                @include respond-to(sm) {
                    text-align: center;
                    width: 72px;
                }
            }
            .fa-caret-down {
                font-size: 18px;
                margin-left: 2px;
            }
            .label {
                font-family: $font-roboto;
                font-size: 9px;
                line-height: 0.9;
                padding: 3px 3px;
                position: absolute;
                right: 5px;
                text-align: center;
                top: 30px;
            }
            &.profile-messages-link {
                padding-left: 10px;
                padding-right: 10px;
            }
            &.categories-menu-link {
                padding-left: 10px;
                padding-right: 15px;
            }
            &.user-menu-link {
                padding-left: 10px;
                padding-right: 10px;
            }
            &:hover {
              background-color: $secondary-green;
            }
            @include respond-to(sm) {
                padding-bottom: 20px;
                padding-top: 20px;
                &.profile-messages-link {
                    padding-left: 0;
                    padding-right: 0;
                }
                &.user-menu-link {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            @include respond-to(md) {
                padding-bottom: 32px;
                padding-top: 32px;
            }
            @include respond-to(lg) {
                &.profile-messages-link, &.user-menu-link {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
        .dropdown.open > .nav-link {
            background-color: $secondary-green;
            text-decoration: none;
        }
        .dropdown-menu {
            background-color: $secondary-green;
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 10px 0 5px 0;
            > li {
                > a {
                    color: #ffffff;
                    font-size: $font-standart-size;
                    font-weight: 500;
                    padding: 6px 30px;
                    &:hover, &:focus {
                        background-color: $third-green;
                    }
                }
            }
            .divider {
                background-color: #82c285;
                margin: 5px 0;
            }
            @include respond-to(sm) {
                min-width: 350px;
            }
        }
        .user-dropdown-menu {
            @include respond-to(sm) {
                min-width: 200px;
            }
        }
        .user-login-form {
            a {
                color: #ffffff;
                text-align: center;
                text-decoration: underline;
                @extend .a-decoration-none;
            }
            .form-group {
                color: #ffffff;
                margin-left: 35px;
                margin-right: 35px;
                text-align: center;
            }
            .form-control {
                background-color: $primary-green;
                border: medium none;
                border-radius: 30px;
                color: #fff;
                font-weight: 500;
                height: auto;
                padding: 15px 20px;
                text-align: center;
                @include placeholder {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .password-reset {
                display: block;
                padding: 4px 0;
                text-align: center;
            }
            .login-button {
                background-color: $fourth-green;
                margin-left: 0;
                margin-right: 0;
                padding: 20px 0;
                text-align: center;
                .btn {
                    padding-left: 45px;
                    padding-right: 45px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// Main element
.main {
    padding: 40px 0 50px 0;
    .inner-header {
        @extend .clearfix;
        @extend .h;
        h3 {
            float: left;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        .filter-holder {
            float: left;
            margin-bottom: 10px;
            margin-top: -10px;
            .bootstrap-select {
                .btn {
                    height: 40px;
                }
            }
            @include respond-to(sm) {
                float: right;
                margin-bottom: 0;
                margin-top: 10px;
            }
        }
    }
    .main-section {
        position: relative;
        h2 {
            @extend .h;
            margin-bottom: 30px;
            margin-top: 30px;
            padding-bottom: 20px;
        }
        h5 {
            @extend .h;
            font-size: $font-base-size;
            margin: -10px 0 10px;
            span {
                background-color: #ffffff;
                bottom: -10px;
                margin: 0;
                padding: 0 12px 0 0;
                position: relative;
            }
        }
        &.auth-login, &.auth-register {
            hr {
                border: 3px solid $light-grey;
            }
            .col-sm-6 {
                z-index: 2;
            }
            .auth-form {
                @include respond-to(sm) {
                    margin-top: 90px;
                }
                .btn-first {
                    text-transform: uppercase;
                    width: 100%;
                    span {
                        padding-left: 10px;
                    }
                }
                .forgot-password {
                    color: $secondary-color;
                    font-size: $font-standart-size;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .social-login {
                .title {
                    color: $secondary-color;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .btn-third {
                    text-align: left;
                    width: 100%;
                }
            }
            .motorbike {
                @include respond-to(sm) {
                    opacity: 0.2;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                }
                img {
                    max-width: 600px;
                }
            }
        }
    }
}

.footer {
    background-color: $primary-green;
    padding: 20px 0;
    .nav-pills {
        & > li {
            width: 45%;
            @include respond-to(sm) {
                width: 30%;
            }
            & > a {
                color: #ffffff;
                font-size: $font-standart-size;
                &:focus, &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    .copyright {
        color: #ffffff;
        float: none;
        font-size: $font-standart-size;
        line-height: 30px;
        text-align: center;
    }
    @include respond-to(md) {
        padding: 60px 0;
        .copyright {
            float: right;
            text-align: left;
        }
    }
}

@import "review_create";
@import "listing_search";
@import "popular_categories";
@import "last_reviews";
@import "user_profile";
@import "listings_review_list";
@import "listings_review_listing";
@import "listing_questions_container";
@import "category_navigation";
@import "messages_index";
@import "page_show";
@import "category_show";

.breadcrumbs {
    @extend .breadcrumb;
    background-color: transparent;
    margin: 0;
    padding: 0;
    & > li {
        & + li::before {
            content: "»";
            font-size: 20px;
        }
        & > a {
            font-weight: 500;
        }
    }
}

.category-listings {
    border-left: 1px dashed #dfe2e6;
    .category-listings-header {
        @extend .clearfix;
        h4 {
            float: left;
            font-size: 24px;
            font-weight: 300;
            margin: 15px 0 20px 0;
        }
        .filter-holder {
            float: right;
        }
    }
}

.listing-list {
    .listing-item-container {
        border-bottom: 1px dashed #dfe2e6;
        padding: 30px 0;
        .listing-item {
            @extend .clearfix;
            color: $secondary-color;
            display: block;
            &:hover {
                text-decoration: none;
            }
            .listing-picture {
                display: block;
                float: left;
                height: 118px;
                width: 118px;
                margin-right: 20px;
            }
            .listing-title {
                display: block;
                font-size: $font-base-size + 2;
                font-weight: 700;
                margin-bottom: 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .listing-rating {
                display: block;
                .listing-review-count {
                    color: #dedede;
                    display: inline-block;
                    font-weight: 700;
                    margin-left: 5px;
                    margin-top: 2px;
                    vertical-align: top;
                }
            }
            .listing-review {
                display: block;
                margin-left: 140px;
            }
        }
        .btn-second {
            color: $primary-green;
            float: right;
            font-size: $font-standart-size;
            margin-top: 10px;
            width: 90%;
            @include respond-to(sm) {
                margin: 0;
                width: auto;
            }
        }
    }
}

.listing-search {
    h2 {
        span {
            color: $primary-green;
        }
    }
}

.recently-viewed-listings, .similar-listings {
    margin-top: 20px;
    h5 {
        margin-bottom: 15px !important;
    }
    .listing {
        border-bottom: 2px solid #f2f1f1;
        padding: 8px 0 5px 0;
        position: relative;
        & > a {
            @extend .clearfix;
            color: $secondary-color;
            display: block;
            margin-right: 20px;
            .listing-picture {
                display: block;
                float: left;
                height: 50px;
                margin-right: 5px;
                width: 50px;
                .img-circle {
                    height: 50px;
                    width: 50px;
                }
            }
            .listing-container {
                .listing-title {
                    font-size: $font-standart-size;
                    font-weight: 700;
                    margin: 5px 0 0 0;
                }
                .listing-rating {
                    font-size: $font-standart-size;
                    display: block;
                    .listing-review-count {
                        display: inline-block;
                        font-size: $font-standart-size - 2;
                        margin-top: 2px;
                        vertical-align: top;
                    }
                }
            }
        }
        .remove-item {
            a {
                color: $primary-red;
                display: block;
                height: 100%;
            }
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
}

.pagination {
    & > li {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        & > span, & > a {
            border: 2px solid #edebeb;
            border-radius: 50% !important;
            color: #7f7f7f;
            display: block;
            font-family: "Arial", sans-serif;
            font-size: 14px;
            height: 26px;
            line-height: 22px;
            padding: 0;
            text-align: center;
            width: 26px;
        }
        &.active > span {
            background-color: $primary-green;
            border: 2px solid $primary-green;
            color: #fff;
        }
        &.active > span, a {
            &:hover, &:focus {
                background-color: $primary-green;
                border: 2px solid $primary-green;
                color: #fff;
            }
        }
        &:first-child a, &:first-child > span, &:last-child > a, &:last-child > span {
            border: none;
            font-size: 22px;
            line-height: 24px;
            margin-right: 10px;
        }
        &:last-child > a, &:last-child > span {
            margin-left: 10px;
        }
    }
}

// Forms & Buttons
form .control-label {
    color: $secondary-color;
}
.btn-lg {
    line-height: 1;
    padding: 15px 24px;

}
.btn-sm {
    font-size: 14px !important;
    line-height: 1;
    padding: 8px 15px !important;
}
.btn-first {
    @include button(#ffffff, $yellow);
}
.btn-second {
    @include button(#ffffff, $primary-green);
}
.btn-third {
    @include button($text-color, $light-grey);
}
.btn-red {
    @include button(#ffffff, $primary-red);
}
.btn-green {
    @include button(#ffffff, $fifth-green);
}
.btn-social {
    @extend .btn-third;
    position: relative;
    .fa {
        font-size: 22px;
        position: absolute;
        top: 12px;
    }
    .text {
        font-size: $font-standart-size + 1;
        padding-left: 50px;
    }
}
input.form-control {
    @extend .app-form-control;
    &.input-sm {
        height: 40px;
    }
}
textarea.form-control {
    @extend .app-form-control;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.file-control {
    margin-top: 10px;
}
.bootstrap-select {
    &.form-control {
        background-color: transparent;
        box-shadow: none;
        min-width: 100px !important;
        height: auto;
        width: auto !important;
    }
    > .dropdown-toggle {
        @extend .app-form-control;
        background-color: transparent !important;
        &.bs-placeholder {
            color: $grey !important;
        }
        .bs-caret {
            background: $yellow;
            border-radius: 50%;
            display: inline-block;
            height: 16px;
            position: relative;
            right: 2px;
            top: 2px;
            width: 16px;
            .caret {
                border: {
                    bottom: none;
                    top: 4px dashed;
                }
                color: #fff;
                margin-top: -1px !important;
                right: 4px !important;
            }
        }
    }
}

// Bootstrap overrides
.alert {
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkbox {
    margin: 20px 0 20px 10px;
}

.checkbox label, .radio-inline {
    line-height: 26px;
    padding-left: 0;
}