// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Select bootstrap
@import "node_modules/bootstrap-select/sass/bootstrap-select";

@import "mixins";

// Global styles & classes
@import "global";

// Header element
.header {
    background-color: $primary-green;
    .logo {
        display: block;
        padding: 5px 0;
        text-align: center;
        @include respond-to(md) {
            padding: 22px 0;
        }
        img {
            width: 220px;
        }
    }
    .search {
        padding: 26px 0;
        @include respond-to(sm) {
            padding: 14px 0;
        }
        @include respond-to(md) {
            padding: 26px 0px;
        }
        .input-group {
            width: 100%;
        }
        .form-control {
            background-color: $secondary-green;
            border: none;
            border-radius: 20px;
            color: rgba(255, 255, 255, 0.3);
            font-weight: 300;
            height: 36px;
            padding-left: 20px;
            padding-right: 65px;
            vertical-align: middle;
            width: 100%;
            @include placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .input-group-btn {
            position: absolute;
            right: 55px;
            top: 4px;
            z-index: 10;
            .btn {
                background-color: $primary-green;
                border-radius: 20px;
                color: #ffffff;
                font-size: 16px;
                padding: 2px 18px 1px 18px;
            }
        }
    }
    .create-review {
        padding: 6px 0;
        text-align: center;
        @include respond-to(md) {
            padding: 20px 0;
        }
    }
    .nav {
        .nav-link {
            @extend .a-decoration-none;
            color: #ffffff;
            display: block;
            padding: 10px 30px;
            .username {
                display: inline-block;
                width: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: top;
                white-space: nowrap;
                @include respond-to(sm) {
                    text-align: center;
                    width: 72px;
                }
            }
            .fa-caret-down {
                font-size: 18px;
                margin-left: 2px;
            }
            &:hover {
              background-color: $secondary-green;
            }
            @include respond-to(sm) {
                padding: 20px 16px;
            }
            @include respond-to(md) {
                padding: 35px 14px;
            }
            @include respond-to(lg) {
                padding: 35px 26px;
            }
        }
        .dropdown.open > .nav-link {
            background-color: $secondary-green;
            text-decoration: none;
        }
        .dropdown-menu {
            background-color: $secondary-green;
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 10px 0 5px 0;
            > li {
                > a {
                    color: #ffffff;
                    font-size: $font-standart-size;
                    font-weight: 500;
                    padding: 6px 30px;
                    &:hover, &:focus {
                        background-color: $third-green;
                    }
                }
            }
            .divider {
                background-color: #82c285;
                margin: 5px 0;
            }
            @include respond-to(sm) {
                min-width: 350px;
            }
        }
        .user-dropdown-menu {
            @include respond-to(sm) {
                min-width: 200px;
            }
        }
        .user-login-form {
            a {
                color: #ffffff;
                text-align: center;
                text-decoration: underline;
                @extend .a-decoration-none;
            }
            .form-group {
                color: #ffffff;
                margin-left: 35px;
                margin-right: 35px;
                text-align: center;
            }
            .form-control {
                background-color: $primary-green;
                border: medium none;
                border-radius: 30px;
                color: #fff;
                font-size: $font-standart-size;
                font-weight: 500;
                height: auto;
                padding: 15px 20px;
                text-align: center;
            }
            .password-reset {
                display: block;
                padding: 4px 0;
                text-align: center;
            }
            .login-button {
                background-color: $fourth-green;
                margin-left: 0;
                margin-right: 0;
                padding: 20px 0;
                text-align: center;
                .btn {
                    font-weight: 700;
                    padding-left: 45px;
                    padding-right: 45px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// Main element
.main {
    .main-section {
        position: relative;
        h2 {
            @extend .h;
            margin-bottom: 30px;
            margin-top: 30px;
            padding-bottom: 20px;
        }
        h5 {
            @extend .h;
            font-size: $font-base-size;
            margin: 0 0 10px 0;
            span {
                background-color: #ffffff;
                bottom: -10px;
                margin: 0;
                padding: 0 12px 0 0;
                position: relative;
            }
        }
        &.auth-login, &.auth-register {
            hr {
                border: 3px solid $light-grey;
            }
            .col-sm-6 {
                z-index: 2;
            }
            .auth-form {
                @include respond-to(sm) {
                    margin-top: 90px;
                }
                .btn-first {
                    text-transform: uppercase;
                    width: 100%;
                    span {
                        padding-left: 10px;
                    }
                }
                .forgot-password {
                    color: $secondary-color;
                    font-size: $font-standart-size;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .checkbox-container {
                    font-size: $font-standart-size;
                    margin-bottom: 20px;
                    margin-left: 10px;
                    .control-label {
                        display: none;
                    }
                }
            }
            .social-login {
                .title {
                    color: $secondary-color;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .btn-third {
                    text-align: left;
                    width: 100%;
                }
            }
            .motorbike {
                @include respond-to(sm) {
                    opacity: 0.2;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                }
                img {
                    max-width: 600px;
                }
            }
        }
        .profile-user {
            .username {
                font-weight: 700;
                padding: 2px 5px;
            }
            .join-date {
                padding: 2px 5px;
            }
        }
        .profile-nav {
            margin-top: 30px;
            ul {
                padding: 0;
                margin: 0;
                > li {
                    list-style: none;
                    margin-top: 20px;
                    > a {
                        @extend .a-decoration-none;
                        color: $text-color;
                        display: block;
                        font-size: $font-base-size - 1;
                        &.active {
                            &:before {
                                color: $primary-green;
                                content: "";
                                font-family: $font-awesome;
                                font-size: $font-xs-size;
                                padding-right: 5px;
                                position: relative;
                                top: -1px;
                            }
                        }
                    }
                }
            }

        }
    }
    .profile-edit {
        .form-horizontal {
            margin-top: 40px;
            @include respond-to(sm) {
                margin-top: 0;
            }
        }
        .control-label {
            display: none;
            &[for=birthday], &[for=gender] {
                display: block !important;
            }
        }
        .form-control {
            &.birth-year, &.birth-month, &.birth-day {
                .filter-option {
                    text-align: center;
                }
            }
            @include placeholder {
                color: $grey;
            }
        }
    }
}

// Forms & Buttons
form .control-label {
    color: $secondary-color;
}
.btn-lg {
    line-height: 1;
    padding: 15px 24px;

}
.btn-sm {
    font-size: 14px !important;
    line-height: 1;
    padding: 8px 15px !important;
}
.btn-empty {
    background-color: transparent !important;
    color: $text-color !important;
}
.btn-first {
    @include button(#ffffff, $yellow);
    &.btn-empty {
        border: 3px solid $yellow;
    }
}
.btn-third {
    @include button($text-color, $light-grey);
    &.btn-empty {
        border: 3px solid $light-grey;
    }
}
.btn-social {
    @extend .btn-third;
    position: relative;
    .fa {
        font-size: 22px;
        position: absolute;
        top: 12px;
    }
    .text {
        font-size: $font-standart-size + 1;
        padding-left: 50px;
    }
}
input.form-control {
    @extend .app-form-control;
}
.file-control {
    margin-top: 10px;
}
.bootstrap-select {
    &.form-control {
        box-shadow: none;
        min-width: 100px !important;
        height: auto;
        width: auto !important;
    }
    > .dropdown-toggle {
        @extend .app-form-control;
        background-color: transparent !important;
        padding-left: 15px;
        &.bs-placeholder {
            color: $grey !important;
        }
        .bs-caret {
            background: $yellow;
            border-radius: 50%;
            display: inline-block;
            height: 16px;
            position: relative;
            right: 2px;
            top: 2px;
            width: 16px;
            .caret {
                border: {
                    bottom: none;
                    top: 4px dashed;
                }
                color: #ffffff !important;
                margin-top: -1px !important;
                right: 4px !important;
            }
        }
    }
}

// Bootstrap overrides
.alert {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 10px;
}