.category-navigation {
  .subcategory-list {
    margin-bottom: 20px;
  }
  a {
    color: $secondary-color;
    &.active {
      font-weight: bold;
    }
  }
  & > ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    & > li {
      font-size: $font-standart-size;
      margin-bottom: 10px;
      text-transform: uppercase;
      white-space: nowrap;
      a {
        display: inline-block;
        padding: 5px 0;
        position: relative;
        &.active {
          background: $primary-green;
          border: 2px solid $secondary-green;
          color: #ffffff;
          display: block;
          font-weight: normal;
          padding: 5px 10px 5px 5px;
          .fa-window-close {
            font-size: 18px;
            position: absolute;
            right: 5px;
          }
        }
      }
      & > ul {
        list-style-type: none;
        padding-left: 30px;
        & > li {
          margin-top: 10px;
          text-transform: capitalize;

          &.dropdown {
            & > .dropdown-menu {
              border: none;
              box-shadow: none;
              float: none;
              margin: 0;
              padding: 0 0 0 30px;
              position: static;
              & > li {
                margin-top: 10px;
                a {
                  color: $secondary-color;
                  &:hover, &:focus {
                    background-color: inherit;

                  }
                }
              }
            }
            .dropdown-toggle {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}