.listings-review-list {
  .review {
    border-bottom: 1px dashed #dfe2e6;
    padding-bottom: 25px;
    padding-top: 30px;
    .review-author-info {
      padding-bottom: 20px;
      text-align: center;
      .author-picture {
        display: inline-block;
        max-width: 128px;
        @include respond-to(sm) {
          max-width: 100%;
        }
      }
      .author-name {
        font-weight: bold;
      }
      ul {
        display: inline-block;
        margin-top: 10px;
        padding-left: 20px;
        vertical-align: top;
        &> li {
          color: $secondary-color;
          font-family: $font-roboto;
          font-size: $font-standart-size;
          list-style: none;
          margin: 4px 0;
          text-align: left;
          a {
            color: $secondary-color;
          }
          span {
            color: $secondary-yellow;
            font-size: 20px;
            padding-right: 5px;
            text-align: center;
            width: 30px;
          }
        }

      }
    }
    .review-attributes {
      margin-bottom: 10px;
      .badge {
        font-family: $font-roboto;
        font-weight: 400;
        margin-right: 10px;
        padding: 5px 7px;
        &.main-badge {
          background-color: $primary-green;
        }
      }
    }
    .review-rating {
      margin-bottom: 15px;
    }
    .review-text {
      color: $secondary-color;
      font-size: $font-base-size;
      font-family: $font-roboto;
      font-weight: 300;
      line-height: 1.5em;
    }
    .review-info {
      font-family: $font-roboto;
      margin-top: 20px;
      text-align: center;
      p {
        color: $secondary-color;
        display: inline-block;
        font-size: $font-standart-size;
        font-weight: 400;
        &.review-created, &.review-author-name {
          span {
            color: $primary-green;
            font-weight: 700;
          }
        }
        &.review-created {
          padding-right: 18px;
          @include respond-to(sm) {
          }
        }
        &.review-author-name {
          padding-left: 18px;
        }
        &.review-report {
          display: block;
          a {
            color: $secondary-color;
            span {
              color: $secondary-yellow;
              font-size: $font-base-size;
              padding-left: 5px;
            }
          }
        }
      }
      .review-voting {
        font-size: $font-standart-size;
        margin-top: 30px;
        button {
          display: inline-block;
          span {
            font-size: $font-base-size;
            padding-right: 5px;
          }
          &:hover, &:focus {
            text-decoration: none;
          }
        }
        .btn-like {
          color: $primary-green;
          display: inline-block;
          font-weight: 700;
          padding: 6px 12px;
        }
        .btn-dislike {
          color: $primary-red;
          display: inline-block;
          font-weight: 700;
          padding: 6px 12px;
        }
      }
      @include respond-to(sm) {
        text-align: left;
      }
    }
    h3 {
      color: $secondary-color;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 10px 0;
    }
  }
}