.listing-questions-container {
  .listing-questions {
    .question {
      border-bottom: 1px dashed #dfe2e6;
      padding: 30px 0;
      .author-picture {
        float: left;
      }
      .question-text {
        color: $secondary-color;
        font-weight: 600;
        margin: 5px 0 15px 80px;
        min-height: 60px;
      }
      .question-info {
        font-family: $font-roboto;
        p {
          color: $secondary-color;
          font-size: $font-standart-size;
          font-weight: 400;
        }
        .question-created {
          span {
            color: $primary-green;
            font-weight: 700;
          }
        }
        .question-report {
          float: right;
          a {
            color: $secondary-color;
            span {
              color: $secondary-yellow;
              font-size: $font-base-size;
              padding-left: 5px;
            }
          }
        }
      }
      .question-answers-container {
        .question-answers {
          .answer {
            background-color: #fdfdfd;
            border: 3px solid #f9f9f9;
            border-radius: 5px;
            margin-top: 20px;
            padding: 15px 20px 20px;
            .author-picture {
              float: left;
            }
            .answer-text {
              color: $secondary-color;
              margin: 5px 0 15px 80px;
              min-height: 60px;
            }
            .answer-info {
              font-family: $font-roboto;
              p {
                color: $secondary-color;
                font-size: $font-standart-size;
                font-weight: 400;
              }
              .answer-created {
                span {
                  color: $primary-green;
                  font-weight: 700;
                }
              }
              .answer-report {
                float: right;
                a {
                  color: $secondary-color;
                  span {
                    color: $secondary-yellow;
                    font-size: $font-base-size;
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
      .listing-answer-form {
        background-color: #fdfdfd;
        border: 3px solid #f9f9f9;
        border-radius: 5px;
        display: none;
        margin-top: 20px;
        padding: 15px 20px 20px;
      }
    }
  }
  .listing-question-form {
    margin-top: 30px;
  }
}